
{% extends 'base.html' %}
{% block links %}
<link rel="shortcut icon" href="../../static/favicon.ico" />
<link href="../../static/carousel.css" rel="carousel" />

<title>Airport Buddy</title>
<!-- Bootstrap core CSS -->
<link href="../../static/stylesheets/bootstrap.css" rel="stylesheet" />
<link href="../../static/stylesheets/cover.css" rel="stylesheet" />
{% endblock %}
{%block title %}
<div class="cover-container">
  <h3 class="masthead-brand">Edit Passenger</h3>
  {% endblock %}
{% block img %} <img src="../../static/images/edit_passenger.jpg" style="width: 600px;"> {% endblock %}

{% block content %}
<form method="POST" style="width: 70%; margin-top: 20px; margin-left: 110px; border: 4px solid whitesmoke; background-color: rgba(2, 4, 5, 0.322);">
  {% include "_form.html" %}
  <button class="btn btn-primary" type="submit">Edit Baggage Details</button><br/>
</form>

{% endblock %}
